[submodule "MahApps.Metro"]
	path = MahApps.Metro
	url = https://github.com/MahApps/MahApps.Metro.git
[submodule "lex.db"]
	path = lex.db
	url = https://github.com/CHiiLD/lex.db.git
[submodule "TreeViewEx"]
	path = TreeViewEx
	url = https://github.com/CHiiLD/TreeViewEx.git
[submodule "WPFEditableTextBlock"]
	path = WPFEditableTextBlock
	url = https://github.com/CHiiLD/WPFEditableTextBlock.git
[submodule "Newtonsoft.Json"]
	path = Newtonsoft.Json
	url = https://github.com/CHiiLD/Newtonsoft.Json.git
[submodule "EventBindingMarkup"]
	path = EventBindingMarkup
	url = https://github.com/CHiiLD/EventBindingMarkup.git
[submodule "mvvmlight"]
	path = mvvmlight
	url = https://github.com/CHiiLD/mvvmlight.git
[submodule "AsyncMvvm"]
	path = AsyncMvvm
	url = https://github.com/dmitry-shechtman/AsyncMvvm.git
[submodule "NLog"]
	path = NLog
	url = https://github.com/NLog/NLog.git
[submodule "AsyncEx"]
	path = AsyncEx
	url = https://github.com/StephenCleary/AsyncEx.git
[submodule "SuperSocket.ClientEngine"]
	path = SuperSocket.ClientEngine
	url = https://github.com/kerryjiang/SuperSocket.ClientEngine.git
[submodule "SuperSocket"]
	path = SuperSocket
	url = https://github.com/kerryjiang/SuperSocket.git
